<div class="friends-index-page">
  <div class="friends-semi-circle">
  </div>
  <div class="friend-cards">
      <% @friends.each_with_index do |friend, index| %>
        <% if index.even? %>
          <div class="friend-card left-align">
            <%= cl_image_tag friend.photo.key,  crop: :fill, class: "avatar" %>
            <div class="friend-overview">
              <%= link_to friend.name, friend_path(friend) %>
              <p><%= friend.description %></p>
            </div>
          </div>
        <% else %>
          <div class="friend-card right-align">
            <div class="friend-overview">
              <%= link_to friend.name, friend_path(friend) %>
              <p><%= friend.description %></p>
            </div>
            <%= cl_image_tag friend.photo.key,  crop: :fill, class: "avatar" %>
          </div>
          <% end %>
      <% end %>
  </div>
  <div class="friends-index-map"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <h1>Rent a<br>Friend</h1>
  </div>
</div>
