<div class="form-container">
  <h1>Add a new friend!</h1>
  <%= link_to "< Cancel", friends_path %>
  <%= simple_form_for(@friend) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :age %>
    <%= f.input :gender %>
    <%= f.input :language %>
    <%= f.input :description %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
