<div class="form-container">
  <h1>Add a new friend!</h1>
  <%= link_to "< Cancel", friends_path %>
  <%= simple_form_for(@friend) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :age %>
    <%= f.input :gender, collection: Friend::GENDER_OPTIONS %>
    <%= f.input :language, collection: Friend::LANGUAGE_OPTIONS %>
    <%= f.input :description, as: :text %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
