<div class="container-center-dark">
  <h2 class="form-title">Add a new friend!</h2>
  <%= simple_form_for(@friend) do |f| %>
  <div class="form-transparent">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :age %>
    <%= f.input :gender, collection: Friend::GENDER_OPTIONS %>
    <%= f.input :language, collection: Friend::LANGUAGE_OPTIONS %>
    <%= f.input :description, as: :text %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "form-button" %>
  <%= link_to "< Cancel", friends_path %>
  </div>
  <% end %>
</div>
