  <div class="friends-container">
    <div class="friends-index-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="card">
      <div class="img-bx">
        <%= cl_image_tag @friend.photo.key, height: 200, width: 200, crop: :fill %>
      </div>
      <div class="content">
        <div class="detail">
          <h2><%=@friend.name  %><br /><span> Age: <%= @friend.age %></span><br><span>Price: $<%= @friend.price %></span></h2>
          <p>I am located in <%= @friend.location %> and speak <%= @friend.language %></p>

        </div>
      </div>
    </div>
  </div>
