<div class="container">
  <h1><%= @friend.name %></h1>
  <%= cl_image_tag @friend.photo.key, height: 200, width: 200, crop: :fill %>
  <%= link_to "< Back", friends_path %>
  <p>Age: <%= @friend.age %></p>
  <p>Gender: <%= @friend.gender %></p>
  <p>Price: <span> $<%= @friend.price %></span>
  <p>About me:</p>
  <p>I am located in <%= @friend.location %> and speak <%= @friend.language %></p>
  <p><%= @friend.description %>

  <% if @friend.user == current_user%>
    <%= link_to "Remove Friend :(", friend_path(@friend), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
  <% end %>
    <br>
    <%= link_to "Book This Friend!",  new_booking_path, class: "btn btn-primary" %>
</div>
