<div class="container">
  <div class="title">
    <h1>My Bookings</h1>
  </div>

  <div class="button">
    <%= link_to "Make a new booking", new_booking_path %>
  </div>

  <div class="cards">
    <% @bookings.each do |booking| %>
    <div class="card-content">
      <h2>Booked with: <%= booking.friend.name %></h2>
      <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
    <div>
    <div class="card-button">
      <%= link_to "Cancel booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger mb-2" %>
    </div>
    <% end %>
  </div>
</div>
 n
