<div class="container">
  <h1>Make a new booking</h1>
  <%= simple_form_for @booking do |form| %>
  <%=   form.association :friend %>
  <%=   form.input :start_date %>
  <%=   form.input :end_date %>
  <%=   form.submit %>
  <% end %>
</div>
