<div class="navbar-custom">
    <div class="navbar-group">
      <%= image_tag "logo.svg", class: "navbar-logo" %>
      <%= link_to "All Friends", friends_path, class: "nav-link" %>
    </div>

    <div class="navbar-group">
      <%= form_with url: friends_path, method: :get do %>
      <div class="form-transparent", style="flex-direction: row; margin-bottom: 0px;">
        <%= text_field_tag :query,
          params[:query],
          placeholder: "Location, language, age, etc.",
          style: "width: 25em;",
          class: "form-control"
        %>
        <%= submit_tag "Filter", class: "primary-button" %>
      </div>
      <% end %>
    </div>

    <div class="navbar-group">
      <%= link_to "Become a friend!", new_friend_path, class: "primary-button" %>
      <% if user_signed_in? %>
        <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
        <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1639647622/uyye8sjnejcohlb5gcui.jpg", class: "avatar-small", alt: "User Avatar" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
</div>
